* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background: url('https://images.alphacoders.com/114/1140073.jpg') center/cover no-repeat;
}
.sidebar-header img {
    width: 60px;
    border-radius: 50%;
    margin-left: 10px;
}
.sidebar-header h1 {
    margin-left: 10px;
}
.sidebar {
    width: 200px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 60px;
    transition: width 0.3s ease-in-out;
}
.sidebar a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    transition: background 0.2s;
}
.sidebar a:hover {
    background: #555;
}
.toggle-btn {
    position: absolute;
    left: 210px;
    top: 20px;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: left 0.3s ease-in-out;
    border-radius: 15px;
}
.content {
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.3s ease-in-out;
    width: 100%;
}
.grid-container, .ulo {
    transition: transform 0.3s ease-in-out;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    max-width: calc(100% - 250px);
    overflow-x: hidden;
    gap: 50px;
    margin-left: 250px;
    padding: 15px;
    justify-content: center;
}
.ulo {
    display: grid;
    place-items: center;
    width: calc(100% - 250px);
    height: 100px;
    background-color: rgba(0, 0, 0, 0.8);
    background-attachment: fixed;
    margin: 20px 0 60px 270px;
    border-radius: 15px;
    color: white;
}
.box {
    height: 100px;
    width: 200px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin: auto;
    color: white;
    transition: background 0.3s ease-in-out;
}
.box:hover {
    background-color: rgb(208, 224, 229);
}

.collapsed {
    width: 0;
    padding: 0;
    overflow: hidden;
}
.collapsed + .content {
    margin-left: 0;
}
.collapsed + .toggle-btn {
    left: 10px;
}
