*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    color: white;
}
.body{
    min-height: 100vh;
    background: #ffffff;
    color: white;
    
}
html, body {
    height: 100%;
    overflow-x: hidden; 
    width: 100%; 
    background-image: url('https://images4.alphacoders.com/132/1326368.png');
    background-size: cover;
    background-position: center center;
}
.sidebar-header img{
    width: 60px;
    border-radius: 50%;
    margin-left: 10px;
    }
.sidebar {
    width: 200px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: overlay;
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 60px;
    transition: 0.3s;
}
.sidebar a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    transition: 0.2s;
}
.sidebar a:hover {
    background: #555;
}
.content {
    margin-left: 250px;
    padding: 20px;
    transition: 0.3s;
    width: 100%;
}
.toggle-btn {
    position: absolute;
    left: 210px;
    top: 20px;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: overlay;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 15px;
}
.collapsed {
    width: 0;
    padding: 0;
    overflow: hidden;
}
.collapsed + .content {
    margin-left: 0;
}

.collapsed + .toggle-btn {
    left: 10px;
}
.grid-container, .ulo {
    transition: transform 0.3s ease-in-out;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, auto); 
    max-width: calc(100% - 250px);
    overflow-x: hidden;
    gap: 100px;
    margin-left: 250px;
    padding: 20px;
    justify-content: center; 
}
.box{
    height: 200px;
    width: 200px; 
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: overlay;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin: auto;
}
.box:hover{
    background-color: rgb(208, 224, 229);
}
.ulo{
    display: grid;
    place-items: center; 
    width: calc(100% - 250px); 
    height: 100px;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: overlay;
    background-attachment: fixed;
    position: relative;
    top: 0;
    left: 0;
    margin: 20px 0 60px 270px; 
    border-radius: 15px;
}
